// footer
.footer
	.container
		.footer__social-pos
			.footer-social
				ul.footer-social__list
					li.footer-social__item
						a(href="#").footer-social__link.footer-social__link--vk vk
					li.footer-social__item
						a(href="#").footer-social__link.footer-social__link--fb fb
					li.footer-social__item
						a(href="#").footer-social__link.footer-social__link--inst inst
					li.footer-social__item
						a(href="#").footer-social__link.footer-social__link--tw tw
		.footer__menu-pos
			nav.footer-menu__nav
				ul.footer-menu__list
					.footer-menu__item-column
						li.footer-menu__item
							a(href="#").footer-menu__link Для поставщиков
						li.footer-menu__item
						a(href="#").footer-menu__link О производстве
					.footer-menu__item-column
						li.footer-menu__item
							a(href="#").footer-menu__link Наши документы
						li.footer-menu__item
							a(href="#").footer-menu__link Экологические стандарты


script(src='/js/foundation.js' defer)
script(src='/js/main.js' defer)
