header.header
  .header__left
    .header__logo
      .logo
        a(href="#").logo__link
          img(src="/images/logo.png", alt="logo").logo__img
    .header__nav
      include ./navigation
  .header__right
    .header__row
      .header__row-wrap
        .header__search
          i.header__search-icon
        a(href="#").header__login Вход
        .header__basket Пусто
    .header__row
      .header__date С 10 до 20, ежедневно
      .header__number 8 812 450-25-25
