nav.navigation
  ul.navigation__list
    li.navigation__item
      a.navigation__link(href='№') Каталог
    li.navigation__item
      a.navigation__link(href='#') Доставка
    li.navigation__item
      a.navigation__link(href='#') О компании


